.buttonSettings {
    .textAlignSettings {
        display: flex;
        justify-content: space-between;
        margin: 10px auto;
        max-width: 220px;

        > div {
            width: calc(25% - 5px);
            text-align: center;

            input {
                display: none;
            }

            label {
                padding: 3px 9px;
                border: 1px solid var(--setting-label-color);
                border-radius: 3px;
                cursor: pointer;
                transition: all 0.3s;

                &:hover {
                    background-color: var(--box-shadow);
                }
            }

            input:checked ~ label {
                background-color: var(--box-shadow);
            }
        }
    }
    .flexInput {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        align-items: center;

        input[type="number"] {
            width: 70px;
        }
    }

    .field-styling {
        display: block;
        width: 70%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--setting-input-color);
        background-color: var(--white);
        background-clip: padding-box;
        border: 1px solid var(--setting-input-border);
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    input.field-styling[type="range"] {
      padding: 0;
    }

    label {
        margin-right: 15px;
    }
}
