.main-container {
  width: 100vw;
  flex: 1;
  flex-direction: column;
  display: flex;
  z-index: 8;
  padding: 60px 0 0 280px;
  transition: all .2s;
  min-height: 100vh;
  justify-content: space-between;

  &__canvas-section {
    display: flex;
    padding: 30px 0 150px 70px;
  }
}
