.shadowSettings {
    label {
        display: block;
    }
    > div {
        margin: 0 0 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > label {
            margin-right: 10px;
        }
    }
}