.saveButton {
  margin: 5px;
  padding: 3px;
  background-color: var(--main-theme-color);
  outline: 0;
  height: 40px;
  border-radius: 4px;
  color: var(--white);
  border: 2px solid transparent;

  &:hover {
    color: var(--white);
  }

  &:focus {
    outline: azure;
  }
}
