.panningButton {
  margin: 5px;
  padding: 5px;
  background-color: var(--main-theme-color);
  width: 50px;
  height: 40px;
  border: none;
  border-radius: 4px;
  opacity: 1;
  color: var(--white);

  &:hover {
    color: var(--white);
  }

  &:focus {
    outline: azure;
  }

  &.active {
    opacity: 0.5;
  }
}
