.workspaceWrapper {
    display: flex;
}

.mainContainer {
    width: 60%;
    
    .headerSettingsWrapper {
        display: flex;
        justify-content: center;
        padding: 20px;

        .undoRedoWrap {
            margin: 0 15px;

            button {
                margin: 0 5px;
            }
        }

        .panningModeBtnWrap {
            margin: 0 20px 0 0;
        }
    }
}