.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + div {
  font-size: 1em;
  font-weight: 700;
  color: var(--white);
  background-color: var(--main-theme-color);
  display: inline-block;
  padding: 5px 7px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.inputButton {
  font-size: 1em;
  font-weight: 700;
  margin: 5px;
  padding: 5px;
  background-color: var(--main-theme-color);
  width: 60px;
  border: none;
  // border-radius: 10px;
  color: var(--white);

  &:hover {
    color: var(--white);
  }

}

.labelContainer {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  label {
    margin: 0 0 0 7px;
    cursor: pointer;
  }
}

