.footer-container {
  background-color: var(--partials-bg-color);
  padding: 20px 10px;

  &__team-resources {
    flex-flow: column;
    width: 400px;
    padding: 0 10px;

    a {
      padding: 0 5px;
      margin: 0 5px;
      color: var(--black);
      text-decoration: none;
    }

    a:hover {
      color: var(--black);
    }
  }

  &__member {
    color: var(--black);
    display: inline-flex;
    width: 200px;
    justify-content: center;
    font-weight: bold;
  }

  &__links-container {
    flex-flow: column;

    a {
      color: var(--main-theme-color);
    }
  }

  &__icons-container {
    flex-flow: column;

    .footer-icons-container {
      .footer-icons-container-item {
        padding: 10px;
        margin: 10px;

        &:hover {
          background-color: var(--main-theme-color);
          border-radius: 30px;
          cursor: pointer;
        }
      }
    }
  }
}
