.buttons-wrapper {
  border: 2px solid var(--main-theme-color);
  border-radius: 10px;
  margin: 5px 10px;

  &__item {
    width: 50%;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0;
    background: none;
    border: none;
    border-radius: 10px;

    &:focus {
      outline: none;
    }

    &-selected {
      background-color: var(--upload-selected-option);
      outline: 0;
    }
  }
}
