:root {
  --main-theme-color: rgb(179, 161, 226);
  --main-theme-color-opacity: rgba(179, 161, 226, .1);
  --partials-bg-color: #fafbfc;
  --black: #000;
  --white: #fff;
  --box-shadow: rgba(0, 0, 0, 0.03);
  --box-shadow-2: rgba(0, 0, 0, 0.05);
  --canvas-header-btn: #474B4F;
  --setting-label-color: #dddddd;
  --setting-input-color: #495057;
  --setting-input-border: #ced4da;
  --black-with-opacity: rgba(0, 0, 0, .5);
  --upload-selected-option: rgb(219, 219, 219);
  --transparent: rgba(0, 0, 0, 0);
}
