.header-container {
  flex-flow: column;
  padding: 30px 0 0 65px;

  .header-container__actionButtons {

    .fontAwesome__override {
      margin: 5px;
      padding: 3px;
      outline: 0;
      height: 40px;
      border-radius: 4px;
      border: 2px solid transparent;
      svg {
        width: 40px !important;
        height: 30px;
        border: 0;
        padding: 0 !important;
        box-sizing: border-box;
        cursor: pointer;
        color: var(--main-theme-color);
      }
    }

    .additional-btn {
      color: var(--canvas-header-btn);
      border-color: var(--canvas-header-btn);
    }
  }
}
