.header-container{
  display: flex;
  flex-flow: column;
  margin: 0 0 20px 0;
  .header-container__headings{
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: bisque;
    padding: 10px;
    margin: 5px 10px;
    border-radius: 25px;
    .header-container__headings-item{
      margin: auto;
    }
  }
  .header-container__actionButtons{
    margin: auto;

    .fontAwesome__override{
      width: 60px !important;
      height: 40px;
      margin: 5px;
      border: 0 ;
      padding: 5px 12px !important;
      box-sizing: border-box;
      cursor: pointer;
    }
    .fontAwesome__override:hover{
      border: 2px solid azure;
    }
  }
}
