.settings-container {
  width: 28%;
  padding: 0 20px;
}

.settings-button {
  margin: 5px;
  padding: 5px;
  background-color: var(--main-theme-color);
  outline: 0;
  width: auto;
  height: 40px;
  border: none;
  border-radius: 4px;
  color: var(--white);

  &:hover {
    color: var(--white);
  }

  &:focus {
    outline: azure;
  }
}

.upload-image-btn, .upload-image-btn:focus, .upload-image-btn:hover {
  background-color: var(--main-theme-color) !important;
  color: var(--white);
  outline: none;
  border-color: var(--main-theme-color) !important;
  box-shadow: none !important;
}

.canvas-settings-background {
  width: 92%;
}
